@import '../../styles/mixins';
.cartContainer {
  display: flex;
  justify-content: space-between;
  padding: 20px;
}

.productsColumn {
  flex: 3;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.cartItem {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 10px;
}

.cartImage {
  max-width: 80px;
  max-height: 80px;
  object-fit: cover;
}

.cartDetails {
  flex: 2;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 5px;
  margin-left: 10px;
}

.quantity-controls {
  @include quantity-controls(
    $button-bg-color: #000,
    $button-hover-bg-color: #333,
    $button-color: #fff,
    $button-padding: 5px 10px,
    $font-size: 1rem,
    $svg-size: 8px,
    $margin-bottom: 10px
  );
}

.summaryColumn {
  margin-left: 20px;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between; // Ajustado para distribuir espacio
  align-items: center;
  padding: 10px;
  border-left: 2px solid #ccc;
  background-color: #f8f9fa;
  border-radius: 10px;
  height: 200px; // Altura fija para que no se estire

  h2 {
    margin-bottom: 20px;
    font-size: 1.5rem;
    font-weight: bold;
  }

  button {
    padding: 10px 20px;
    margin-top: 10px;
    border: none;
    border-radius: 30px;
    cursor: pointer;
    font-size: 1rem;
    margin: 10px;
  }

  .purchaseButton {
    background-color: #007bff;
    color: white;

    &:hover {
      background-color: #0056b3;
    }
  }

  .clearButton {
    background-color: #dc3545;
    color: white;

    &:hover {
      background-color: #c82333;
    }
  }
}
