@import '../../styles/variables';
@import '../../styles/mixins';

.card {
  max-width: 250px;
  margin: 0 auto;
  border-radius: 30px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
  transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
  overflow: hidden;
  background-color: $light-color;
  padding: auto;

  &:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);

    .card-img-top {
      transform: scale(1.05);
    }
  }

  &-img-top {
    width: 100%;
    height: 150px;
    object-fit: cover;
    border-bottom: 1px solid #ddd;
    transform: scale(0.95);
    transition: transform 0.4s ease;
  }
  .out-of-stock {
    color: red;
    font-weight: bold;
    text-align: center;
    margin-top: 10px;
  }

  &-body {
    text-align: center;
    padding: 1rem;

    .card-title {
      font-size: 1.1rem;
      font-weight: 600;
      margin-bottom: 0.5rem;
    }

    .card-text {
      margin-bottom: 1rem;
      color: $text-color;
      font-weight: 500;
    }

    .btn-primary {
      background-color: $background-color;
      border-color: #000000;
      border-radius: 50px;
      width: 100%;
      padding: 0.75rem;
      font-size: 0.9rem;
      font-weight: 600;
      transition: background-color 0.3s ease;

      &:hover {
        background-color: $secondary-color;
        cursor: pointer;
      }
    }
    .quantity-controls {
      @include quantity-controls(
        $button-bg-color: #000,
        $button-hover-bg-color: #333,
        $button-color: #fff,
        $font-size: 1.2rem,
        $svg-size: 8px
      );
    }
  }
}
