@import 'variables';
@mixin respond-to($breakpoint) {
  @if $breakpoint == 'small' {
    @media (max-width: 600px) {
      @content;
    }
  } @else if $breakpoint == 'medium' {
    @media (max-width: 900px) {
      @content;
    }
  } @else if $breakpoint == 'large' {
    @media (max-width: 1200px) {
      @content;
    }
  }
}

@mixin quantity-controls(
  $button-bg-color: #000,
  $button-hover-bg-color: #333,
  $button-color: #fff,
  $button-padding: 5px 10px,
  $font-size: 1.2rem,
  $svg-size: 8px,
  $margin-bottom: 10px
) {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: $margin-bottom;

  button {
    background-color: $button-bg-color;
    color: $button-color;
    border: none;
    padding: $button-padding;
    cursor: pointer;
    font-size: $font-size;
    line-height: 1;
    border-radius: 200px;
    transition: background-color 0.3s ease;
    display: flex;
    align-items: center;
    justify-content: center;

    &:hover {
      background-color: $button-hover-bg-color;
    }

    svg {
      font-size: $svg-size;
    }
  }

  span {
    margin: 0 10px;
    font-size: $font-size;
  }
}
