// Colores
$primary-color: #141414;
$secondary-color: #a3a3a3;
$success-color: #28a745;
$danger-color: #dc3545;
$warning-color: #ffc107;
$info-color: #17a2b8;
$light-color: #f8f9fa;
$dark-color: #343a40;
$info-text: #6c757d;

$background-color: #fff;
$text-color: #000000;

$font-family-base: 'Roboto', sans-serif;
$font-size-base: 16px;
$line-height-base: 1.5;

$spacer: 1rem;
$spacer-sm: 0.5rem;
$spacer-lg: 2rem;

// Z-index
$zindex-navbar: 1000;
$zindex-modal: 1050;
